@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

body {
	max-width: 800px;
	margin-inline: auto;
	font-family: 'Noto Serif';
	font-size: 1rem;
}

section {
	margin: 2.5em auto;
}

p {
	line-height: 1.5em;
}

li {
	margin-block: 1em;
}