@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Noto+Sans+Mono&display=swap');

body {
	max-width: 800px;
	margin-inline: auto;
	padding: 0 1em;
	font-size: 12pt;
	font-family: 'Noto Serif', serif;
}

h1 {
	font-size: 1.6em;
}

h2 {
	font-size: 1.1em;
}

pre {
	overflow-x: auto;
	background-color: #eee;
	padding: 1em;
}

code {
	font-family: 'Noto Sans Mono';
	font-size: 11pt;
}

p {
	line-height: 1.5em;
}

li {
	margin: 0.5em 0;
}

table {
	border-collapse: collapse;
}

td {
	padding: 0.25em;
}
